@model List<Product>

<h1>Products List</h1>

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control mr-2" placeholder="Search by product name..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Category?.Name</td>
                <td>
                    <a class="btn btn-primary" href="/Product/Details/@product.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create" class="btn btn-primary">Add New Product</a>
</div>
